.goods-container{
  margin-top: 10px;
  padding-top: 15px;
  background-color: #fff;
  .title{
    padding: 0 10px;
    margin-bottom: 10px;
    .inner{
      display: flex;
      align-items: center;
      padding-bottom: 10px;
      border-bottom: 1rpx solid #ededed;
      .left{
        flex: 1;
        font-size: 14px;
      }
      .right{
        flex: 1;
        font-size: 12px;
        color: #999;
        text-align: right;
      }
    }
  }
  .goods-item{
    /*float: left;*/
    display: inline-block;
    margin-left: 10px;
  }
}
.product-info-card{
  width: 100%;
  /*background: #ffffff;*/
  display: flex;
  flex-direction: column;
  //border-bottom: 1px solid #ebebeb;
  .basic-info{
    flex: 1;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 25rpx 30rpx 30rpx 30rpx;
    margin-bottom: 20rpx;
    .info-top{
      display: flex;
      align-items: center;
      justify-content: space-between;
      .pro-name{
        //width: 480rpx;
        flex: 1;
        font-size: 32rpx;
        line-height: 40rpx;
        color: #2F2F2F;
        letter-spacing: 0;
        font-weight: bold;
      }
    }
    .info-bottom{
      margin-top: 20rpx;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      .info-bottom-left{
        display: flex;
        align-items: flex-end;
        .discount-price{
          font-size: 44rpx;
          color: #f34747;
          line-height: 40rpx;
        }
        .original-price{
          font-size: 26rpx;
          color: #999999;
          line-height: 24rpx;
          margin-left: 18rpx;
          text-decoration: line-through;
        }
        .pro-number{
          height: 20rpx;
          padding: 0 10rpx;
          border-radius: 0 10rpx 10rpx 0;
          position: relative;
          font-size: 18rpx;
          line-height: 20rpx;
          color: #ffffff;
          background: #ab9985;
          margin-left: 25rpx;
          &::before{
            content: '';
            width: 0;
            height: 0;
            left: -20rpx;
            top: 0;
            position: absolute;
            border-style: solid;
            border-width: 10rpx;
            border-color: transparent #ab9985 transparent transparent;
          }
        }
      }
      .info-bottom-right{
        flex: 1;
        padding-left: 10rpx;
      }
      .sales-volume{
        font-size: 24rpx;
        color: #999999;
      }
    }
    .sale-bar{
      width: 100%;
      height: 28rpx;
      overflow: hidden;
      border-radius: 14rpx;
      background-color: rgba(252,197,48,.2);
      margin-top: 15rpx;
      position: relative;
      font-size: 20rpx;
      line-height: 28rpx;
      text-align: right;
      padding-right: 10rpx;
      color: #666;
      .saled{
        position: absolute;
        white-space: nowrap;
        left: 0;
        top:0;
        border-radius: 14rpx;
        height: 28rpx;
        background-color: #FCC530;
        font-size: 20rpx;
        color: #666;
        text-align: left;
        line-height: 28rpx;
        text-indent: 10rpx;
      }
      .level{
        position: relative;
        z-index: 2;
      }
    }
  }
  .shireContainer{
    margin-top: 20rpx;
    .shireCode{
      width: ;
    }
  }
  .use-info{
    padding: 20rpx 30rpx 0 30rpx;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    margin-bottom: 20rpx;
    .list-item{
      display: flex;
      align-items: center;
      margin-bottom: 16rpx;
      &::before{
        content: '';
        width: 24rpx;
        height: 24rpx;
        background: url('../../../static/image/right_icon.png') no-repeat;
        background-size: 100% 100%;
        margin-right: 6rpx;
      }
      &:first-child{
        padding-bottom: 20rpx;
        border-bottom: 1rpx solid #ededed;
      }
      p{
        font-size: 24rpx;
        color: #333333;
      }
    }
    .process-img{
      width: 520rpx;
      height: 80rpx;
      align-self: center;
      background: url('../../../static/image/buy_icon.png') no-repeat;
      background-size: 100% 100%;
    }
  }
}
.creatPost{
  position: fixed;
  right: 0;
  top:40rpx;
  color: #f6f6f6;
  font-size: 22rpx;
  background-color: #ff9933;
  width: 137rpx;
  height: 48rpx;
  border-bottom-left-radius: 32rpx;
  border-top-left-radius: 32rpx;
  line-height: 48rpx;
  text-align: center;
}
.shop-authentication-card{
  width: 100%;
  padding: 12rpx 30rpx;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #FEF4F5;
  //border-bottom: 1px solid #ebebeb;
  .card-left{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .icon{
      width:28rpx;
      height: 22rpx;
      //border-radius: 20rpx;
      background: url('../../../static/image/img_business.png') no-repeat;
      background-size: 100% 100%;
      margin-left: 10rpx;
    }
    p{
      font-size: 24rpx;
      color:#E9343E;
      font-weight: bold;
    }
  }
  .rz-icon{
    height: 40rpx;
    padding: 18rpx 0;
    display: flex;
    align-items: center;
    .icon_one{
      content: '';
      width: 30rpx;
      height: 30rpx;
      background: url('../../../static/image/icon_ge.png') no-repeat;
      background-size: 100% 100%;
      margin-right: 10rpx;
    }
    .icon_two{
      content: '';
      width: 30rpx;
      height: 30rpx;
      background: url('../../../static/image/icon_qi.png') no-repeat;
      background-size: 100% 100%;
    }
  }
}
.shop-info-card{
  width: 100%;
  background: #ffffff;
  padding: 0 30rpx;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ebebeb;
  .shopinfo-top{
    padding: 22rpx 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ebebeb;
    .top-left{
      display: flex;
      align-items: center;
      .shop-pic{
        width: 88rpx;
        height: 88rpx;
        background: #333333;
        border-radius: 44rpx;
      }
      .shop-base-info{
        margin-left: 30rpx;
        display: flex;
        flex-direction: column;
        .shop-name{
          font-size: 32rpx;
          color: #333333;
        }
        .shop-level{
          margin-top: 16rpx;
          display: flex;
          align-items: center;
          .level-list{
            display: flex;
            align-items: center;
            .level-item{
              width: 24rpx;
              height: 24rpx;
              background: url('../../../static/image/star_on_icon.png') no-repeat;
              background-size: 100% 100%;
              margin-left: 4rpx;
              &:first-child{
                margin-left: 0;
              }
            }
            .star-two{
              background: url('../../../static/image/star_gray_icon.png') no-repeat;
              background-size: 100% 100%;
            }
          }
          .comment-number{
            margin-left: 16rpx;
            font-size: 24rpx;
            color: #ab9985;
          }
        }
      }
    }
    .top-right{
      display: flex;
      align-items: center;
      .map-icon{
        width: 70rpx;
        height: 70rpx;
        background: url('../../../static/image/daohang_icon.png') no-repeat;
        background-size: 100% 100%;
      }
      .phone-icon{
        width: 70rpx;
        height: 70rpx;
        margin-left: 14rpx;
        background: url('../../../static/image/icon_tell.png') no-repeat;
        background-size: 100% 100%;
      }
    }
  }
  .shopinfo-bottom{
    padding: 22rpx 0;
    /*display: flex;*/
    align-items: center;
    justify-content: space-between;
    .path-str{
      font-size: 28rpx;
      color: #999999;
      .fa-map-marker{
        margin-right: 10rpx;
      }
      .fa-angle-right{
        float: right;
      }
    }
    .wx-icon{
      width: 48rpx;
      height: 48rpx;
      background: url('../../../static/image/mp_icon.png') no-repeat;
      background-size: 100% 100%;
    }
  }
}
.common-card{
  width: 100%;
  margin-top: 20rpx;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  .card-header{
    height: 80rpx;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30rpx;
    border-bottom: 1rpx solid #ebebeb;
    .title{
      font-size: 28rpx;
      color: #333333;
    }
    .heder-right{
      display: flex;
      align-items: center;
      p{
        font-size: 22rpx;
        color: #999999;
        text-decoration: underline;
      }
      &::after{
        content: '';
        width: 14rpx;
        height: 24rpx;
        background: url('../../../static/image/more_icon.png') no-repeat;
        background-size: 100% 100%;
        margin-left: 10rpx;
      }
    }
  }
  .card-content{
    width: 100%;
    padding: 22rpx 30rpx;
    overflow: hidden;
    .wx-parse-box{
      width: 690rpx;
      overflow: hidden;
      color: #666;
    }
  }
  .home-comment-list{
    padding: 22rpx 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.bottom-box{
  width: 100%;
  height: 98rpx;
  position: fixed;
  z-index: 100;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 8px 0;
  .kf-btn{
    flex: 1;
    height: 100%;
    background: #ffffff!important;
    //display: flex;
    align-items: center;
    justify-content: left;
    text-align: center;
    border: none!important;
    padding: 0 30rpx!important;
    margin: 0!important;
    border-radius:0;
    //border-top: 1px solid #ebebeb!important;
    .kf-icon{
      width: 16px;
      height: 16px;
      background: url('../../../static/image/kefu.png') no-repeat;
      background-size: 100% 100%;
      margin: 0 auto;
    }
    &.fx-btn{
      border-right: 0.5px solid #eee;
      .kf-icon{
        background: url('../../../static/image/icon_share.png') no-repeat;
        background-size: 100% 100%;
      }
    }
    p{
      margin-top: 4px;
      font-size: 12px;
      color: #666;
    }
  }
  .buy-now{
    flex: 2;
    height: 98rpx;
    padding: 9rpx 30rpx;
    font-size: 28rpx;
    line-height: 98rpx;
    color: #ffffff;
    text-align: center;
    &.no-stock{
      .btn{
        background: #ddd;
      }
    }
    .btn{
      height: 80rpx;
      width: 180px;
      line-height: 80rpx;
      border-radius: 40rpx;
      background: linear-gradient(225deg,	#f4042b 0%,	#fa5353 100%);
    }
  }
}
.tab-menu-box{
  width: 100%;
  height: 120rpx;
  position: fixed;
  bottom: 98rpx;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // background: #ffffff;
  padding: 0 30rpx;
  .tab-item{
    width: 160rpx;
    height: 60rpx;
    border-radius: 10rpx;
    border: 1rpx solid #dddddd;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    p{
      font-size: 24rpx;
      color: #999999;
    }
  }
  .tab-selected{
    border: none;
    background: #ff3333;
    p{
      color: #ffffff;
    }
  }
}
.swiper-box{
  width: 100%;
  height: 600rpx;
  background: #333333;
  .slide-image{
    width: 750rpx;
    height: 600rpx;
  }
}
.scroller-box{
  width: 100%;
  background: #f5f5f5;
  .scroll-bottom{
    width: 100%;
    height: 200rpx;
  }
}
.circleMenu{
  position: fixed;
  right: 10rpx;
  bottom:10rpx
}
.nav{
 position:fixed;
  right:30rpx;
  bottom:160rpx;
  background-color: #000;
  opacity: .5;
  width: 94rpx;
  height: 94rpx;
  border-radius: 50%;
  color: #fff;
  line-height: 94rpx;
  font-size: 12px;
  text-align: center;
}
.nav-tab{
  position: fixed;
  right:15px;
  bottom:80px;
  background:linear-gradient(0deg,rgba(39,43,50,1) 0%,rgba(77,85,94,1) 100%);
  width: 47px;
  height: 104px;
  color: #fff;
  text-align: center;
  font-size: 11px;
  border-radius: 23.5px;
  .top{
    padding: 15px 0 10px 0;
    height: 52px;
    p{
      margin-bottom: 4px;
    }
  }
  .line{
    height: 1px;
    width: 40%;
    margin: 0 auto;
    background-color: #fff;
  }
  .bottom{
    height: 52px;
    padding: 10px 0 15px 0;
    p{
      margin-bottom: 4px;
    }
  }
}
.send-time{
  position: fixed;
  width: 100%;
  bottom: 50px;
  left:0;
  font-size: 12px;
  color: #E9343E;
  padding: 0 15px;
  height: 20px;
  line-height: 20px;
  background:rgba(233,52,62,.2);
}
.technology{
  text-align: center;
  font-size: 12px;
  color: #ccc;
  margin: 35px 0 0 0;
  .icon{
    display: inline-block;
    position: relative;
    top:2px;
    width: 14px;
    height: 14px;
    background: url("../../../static/image/logoIcon.png");
    background-size: 100% 100%;
  }
}
