@import "./main/core.less";
@import "./main/other.less";

#CircleMenu{
  position: fixed;
  right: 15px;
  bottom: 80px;
  .btn-toggle, oy-menu-item{
      box-shadow: 0px 6px 18px rgba(0,0,0,.7);
  }
}
